<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^share/([^/]+)/([^/]+)/?$ share.php?name=$1&share=$2 [L,QSA]
  RewriteCond %{QUERY_STRING} (^|&)share= [NC]
  RewriteRule ^$ share.php [L,QSA]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
